
body {
   /* background: url(../images/curtain.jpg);*/
   background: #34495e;
    width:100%;
}
#container {
    width: 80%;
    margin: 0 auto;
}
#nav ul{
	margin-top: 10px;
    width: 100%;
    margin-left: 0.5%;
    padding: 0;
}
 #nav li {
    border: 2px solid #000000;
    color: red;
    width: 15%;
    margin: 1%;
 	display: inline-block;
    text-align: center;
    padding: 1%;
    
    animation: ani 6s linear .5s infinite normal;;
    -webkit-animation:ani 6s linear .5s infinite normal;
    
   list-style: none;
       }
       a {
        text-decoration: none;
        color: red;
        font-size: 200%;
     }
     li:hover a {
        background: #34282C;
        box-shadow: 7px 7px 5px 5px black;
        color: white;
        padding: 2px;
        
     }  
     
    

/* Chrome, Safari, Opera */ 
@-webkit-keyframes ani {
    0%   {width: 15%;}
    10%  {width: 16%;}
    20%  {width: 17%;}
    30% {width: 15%;}
    40%   {width: 16%;}
    50%  {width: 17%;}
    60%  {width: 15%;}
    100% {width: 16%;}
}

/* Standard syntax */
@keyframes ani {
    0%   {width: 210px;}
    10%  {width: 200px;}
    20%  {width: 210px;}
    30% {width: 200px;}
    40%   {width: 210px;}
    50%  {width: 200px;}
    60%  {width: 210px;}
    100% {width: 200px;}
}
       

#imgs {

    width: 70%;
    height: 150%;
    border: 2px solid black;
    box-shadow: 2px 2px 20px black;
    margin: 0 auto;
    
   }
   #imgs img{
    width: 100%;
    height: 150%;
   }
  #left button{
    width: 7%;
    border-radius: 0px 40px 0px 40px;
    height: 7%;
    box-shadow: 2px 0 10px black;
    margin-top:-25%;
    margin-left: 1%;
    position: absolute;
    font-size: 80%;
   }
   #right button{
    width: 7%;
    border-radius: 0px 40px 0px 40px;
    height: 7%;
    box-shadow: 2px 0 10px black;
    margin-left: 48%;
    margin-top:-25%;
    position: absolute;
    
}
#right button:hover{
    background: rgba(26, 188, 156,1.0);
}
#left button:hover {
    background: rgba(26, 188, 156,1.0);
}
   

@media screen and (max-width: 480px){
    body {
        display: block;
        margin-left: 0.5px;
    }
    #nav li{
        display: block;
        width: 100%;
        -webkit-animation: ani none;
        -o-animation: ani none;
        animation: ani none;
    }
#left button, #right button {
    min-width: 15%;
}
#right button {
    margin-left: 40%;
}
}
 